/* styles go here */
.Surname {
  padding: 0;
}

.name {
  padding: 10px 0;
  display: block;
}

.number {
  padding: 0;
  display: block;
}

.date {
  padding: 10px 0;
  display: block;
}

.email {
  padding: 0 0 10px;
  display: block;
}

.quastion {
  padding: 0 0 10px;
  display: block;
}

.color {
  padding: 0 0 10px;
  display: block;
}

.time {
  padding: 0 0 10px;
  display: block;
}

.textarea {
  padding: 0 0 10px;
  display: block;
}

.coments {
  padding: 0 0 10px;
  display: block;
}

fieldset {
  margin-bottom: 20px;
}
